<div class="about-page">
	<article>
		<h1 class="title">QUIENES SOMOS</h1>

		<h1>ECOPROP</h1>

		<p>Empresa dedicada al corretaje de propiedades, administrada y gestionada por sus tres socios fundadores, nace luego de que estos vieran la necesidad que existía en el mercado de una empresa que desarrolle la actividad lo más cercano posible al cliente, manteniéndolo en todo momento bien informado y asesorado para la toma de decisiones. Creemos firmemente que con responsabilidad, honestidad y trabajo bien hecho, las personas pondrán su confianza en nosotros.</p>

		<h2 class="title mision">MISION</h2>

		<p>Posicionarnos en el mercado, siendo socios estratégicos de nuestros clientes, atendiendo sus necesidades y asesorándolos con respuestas claras y oportunas, para una correcta toma de decisiones.</p>

		<h2 class="title vision">VISION</h2>
		<p>ECOPROP debe ser reconocida por su profesionalismo, por la calidad humana de sus trabajadores y por ser una empresa enfocada al 100% en satisfacer las necesidades de sus clientes.</p>
	</article>

	<aside>
		<div>
			<img src="https://s3-us-west-2.amazonaws.com/ecoprop/handshake.png" alt="handshake">
		</div>

		<div>
			<img src="https://s3-us-west-2.amazonaws.com/ecoprop/document.png" alt="document">
		</div>
		<div>
			<img src="https://s3-us-west-2.amazonaws.com/ecoprop/keys.png" alt="keys">
		</div>
	</aside>
</div>

