<div class="main-slider">
	<img src="/assets/banca.jpg" alt="main-slider">
</div>

<div class="propiedades-destacadas">
	<h2>PROPIEDADES DESTACADAS</h2>

	<div>
		<img src="/assets/parcela.jpg" alt="">
	</div>
	<div>
		<img src="/assets/cerro.jpg" alt="">
	</div>
	<div>
		<img src="/assets/campo.jpg" alt="">
	</div>
</div>

<div class="comunas">
	<h2>COMUNAS</h2>

	<img src="/assets/parcela.jpg" alt="">
	<img src="/assets/cerro.jpg" alt="">
	<img src="/assets/campo.jpg" alt="">
</div>