<div class="body-container">
	<div class="main">
		<div class="main-slider">
			<div style="background-image: url(https://s3-us-west-2.amazonaws.com/ecoprop/banca.jpg)">
				<h2>CONFIANZA</h2>	
			</div>
			<div style="background-image: url(https://s3-us-west-2.amazonaws.com/ecoprop/hojas.jpg)">
				<h2>PRESTIGIO</h2>		
			</div>
			<div style="background-image: url(https://s3-us-west-2.amazonaws.com/ecoprop/calle.jpg)">		
				<h2>COMODIDAD</h2>
			</div>
		</div>
		<div class="contactar">
			<h3>QUIERES QUE TE BUSQUEMOS UNA PROPIEDAD PARA TUS NECESIDADES?</h3>
			<h3 class="link"><%= link_to "CONTACTAR", "#" %></h3>
		</div>
	</div>

	<h2>PROPIEDADES DESTACADAS</h2>	

	<div class="propiedades-destacadas">
		<div>
			<img src="https://s3-us-west-2.amazonaws.com/ecoprop/parcela.jpg" alt="">
			<h3>VENTA DE CASA DE CAMPO</h3>
			<p>DARIO URZUA</p>
			<p>250 UF</p>
			<p>200 m2</p>
		</div>
		<div>
			<img src="https://s3-us-west-2.amazonaws.com/ecoprop/cerro.jpg" alt="">
			<h3>VENTA DE CASA DE CAMPO</h3>
			<p>DARIO URZUA</p>
			<p>250 UF</p>
			<p>200 m2</p>
		</div>
		<div>
			<img src="https://s3-us-west-2.amazonaws.com/ecoprop/campo.jpg" alt="">
			<h3>VENTA DE CASA DE CAMPO</h3>
			<p>DARIO URZUA</p>
			<p>250 UF</p>
			<p>200 m2</p>
		</div>
		<div>
			<img src="https://s3-us-west-2.amazonaws.com/ecoprop/parcela.jpg" alt="">
			<h3>VENTA DE CASA DE CAMPO</h3>
			<p>DARIO URZUA</p>
			<p>250 UF</p>
			<p>200 m2</p>
		</div>
		<div>
			<img src="https://s3-us-west-2.amazonaws.com/ecoprop/cerro.jpg" alt="">
			<h3>VENTA DE CASA DE CAMPO</h3>
			<p>DARIO URZUA</p>
			<p>250 UF</p>
			<p>200 m2</p>
		</div>
		<div>
			<img src="https://s3-us-west-2.amazonaws.com/ecoprop/campo.jpg" alt="">
			<h3>VENTA DE CASA DE CAMPO</h3>
			<p>DARIO URZUA</p>
			<p>250 UF</p>
			<p>200 m2</p>
		</div>
	</div>

	<h2>COMUNAS</h2>
	<div class="comunas">
		<div>
			<img src="https://s3-us-west-2.amazonaws.com/ecoprop/parcela.jpg" alt="">
		</div>
		<div>
			<img src="https://s3-us-west-2.amazonaws.com/ecoprop/cerro.jpg" alt="">
		</div>
		<div>
			<img src="https://s3-us-west-2.amazonaws.com/ecoprop/campo.jpg" alt="">
		</div>
		<div>
			<img src="https://s3-us-west-2.amazonaws.com/ecoprop/parcela.jpg" alt="">
		</div>
		<div>
			<img src="https://s3-us-west-2.amazonaws.com/ecoprop/cerro.jpg" alt="">
		</div>
		<div>
			<img src="https://s3-us-west-2.amazonaws.com/ecoprop/campo.jpg" alt="">
		</div>
	</div>
</div>

<script>
	$(document).ready(function(){
		$('.main-slider').slick({
			draggable: true,
			dots: true,
			fade: true,
			speed: 1500,
			autoplay: true
		});

		$('.propiedades-destacadas').slick({
			slidesToShow: 3,
			draggable: true
		});

		$('.comunas').slick({
			slidesToShow: 3,
			draggable: true,
		});

	});
</script>