/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bourbon";
@import "neat";
@import "fonts";
@import "base/base";

/* ***************** ***************** ***************** */
/* 00. VARIABLES */
/* ***************** ***************** ***************** */
$verde-musgo:               rgb(0, 51, 51);
$verde-claro:               rgba(102, 158, 35, 1);
$primary-font: 				'LaskiSlab-Regular', 'Georgia', 'Times', serif;
$secondary-font: 			'BlocC', 'Impact', 'Arial Black', sans-serif;
$titles-font: 				'LaskiSlab-ExtraLight', 'Georgia', 'Times', serif;
$negritas-font: 			'LaskiSlab-Bold', 'Georgia', 'Times', serif;

@import "pages";
@import "nav";
@import "body";
@import "about";
@import "footer";
@import "properties";
@import "contact";
@import "media-queries";
@import "panel";
@import "sales";
@import "forms";
@import "devise";



body {
	background-color: $verde-musgo;


}
h1, h2, h3, h4, h5, h6, li, a, p, address, label {
	// color: rgb(153, 504, 0);
	color: white;
	font-family: 'Pontano Sans', sans-serif;
	letter-spacing: 1px;
}

h2, h3, h4 {
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
}

p.notice, p.alert {
	margin: 0;
}




