.main-slider {
	@include outer-container(100%);

	div {
		@include span-columns(12);

		height: 650px; 
		width: 100%; 
		background-size: cover;
	}
}

.propiedades-destacadas {
	@include outer-container;

	h2 {
		@include span-columns(12);
		text-align: center;
	}

	img {
		@include span-columns(4);
	}
}

.comunas {
	@include outer-container;

	h2 {
		@include span-columns(6);
		@include shift(3);
	}

	img {
		@include span-columns(4);
	}
}