.body-container {
	h2 {
		text-align: center;
		margin-top: 65px;
		margin-bottom: 3r5px;
		font-size: 25px;

	}

	.main {
		@include outer-container(100%);

		.main-slider {
			@include outer-container(100%);
			width: 100%; 

			div {
				@include span-columns(12);

				height: 570px; 
				background-size: cover;
				margin-right: 0;

				h2 {
					font-size: 5em;
					margin-top: 190px;
				}
			}

			.slick-dots li button:before {
			    font-size: 16px;
			}

			.slick-dots li.slick-active button:before {
			    opacity: .75;
			    color: $verde-claro;
			}

			.slick-dots li button:before {
			    color: white;
			}
		}

		.contactar {
			@include outer-container(100%);

			height: 150px;
			background-color: rgba(241, 220, 144, 0.49);
			margin-top: -230px;
			position: relative;

			h3 {
				@include span-columns(9);
				font-size: 23px;
				position: absolute;
				padding-top: 60px;
	    		padding-left: 50px;
			}

			a {
				text-decoration: none;

				button.link {
					@include span-columns(3);

					background-color: #f1dc90;
					text-decoration: none;
					position: absolute;
					margin-left: 1020px;
					margin-top: 45px;
					width: 189px;
					padding: 20px;
					color: $verde-musgo;
				}
			}
		}
	}





	.propiedades-destacadas {
		@include outer-container;
		margin-bottom: 50px;

		img {
		    width: 396px;
		    height: 453px;
		    padding: 15px 35px 15px;
		}

		h2 {
			text-align: center;
			padding-bottom: 10px;
		}

		h3, p {
	    	padding-left: 35px;
	    	margin: 0;
	    }

	    .slick-prev {
	    	left: 0;
	    }

	    .slick-next {
	    	right: 0; 
	    }

	    .slick-prev:before, .slick-next:before {
	    	color: $verde-claro;
	    	font-size: 30px;
	    }
	}



	.comunas {
		@include outer-container();

		margin-bottom: 50px;

		img {
		    width: 396px;
		    height: 453px;
		    padding: 15px 35px 10px;
		}

		.slick-prev {
	    	left: 0;
	    }

	    .slick-next {
	    	right: 0; 
	    }

	    .slick-prev:before, .slick-next:before {
	    	color: $verde-claro;
	    	font-size: 30px;
	    }
	}

}