.body-container {
	h2 {
		text-align: center;
		margin-top: 65px;
		margin-bottom: 0;
	}

	.main {
		@include outer-container(100%);

		.main-slider {
			@include outer-container(100%);
			width: 100%; 

			div {
				@include span-columns(12);

				height: 650px; 
				background-size: cover;
				margin-right: 0;

				h2 {
					font-size: 4em;
					margin-top: 275px;
				}
			}

			.slick-dots li button:before {
			    font-size: 16px;
			}

			.slick-dots li.slick-active button:before {
			    opacity: .75;
			    color: $verde-claro;
			}

			.slick-dots li button:before {
			    color: white;
			}
		}

		.contactar {
			@include outer-container(100%);

			height: 150px;
			background-color: rgba(30, 30, 30, 0.6);
			margin-top: -230px;
			position: relative;

			h3 {
				@include span-columns(9);
				position: absolute;
				padding-top: 60px;
	    		padding-left: 20px;
			}

			h3.link {
				@include span-columns(3);

				background-color: brown;
				text-decoration: none;
				position: absolute;
				margin-left: 900px;
				width: 189px;
				padding: 20px;

				a {
					text-decoration: none;
				}
			}
		}
	}





	.propiedades-destacadas {
		@include outer-container;
		margin-bottom: 50px;

		img {
		    width: 396px;
		    height: 453px;
		    padding: 15px 35px 15px;
		}

		h2 {
			text-align: center;
		}

		h3, p {
	    	padding-left: 35px;
	    	margin: 0;
	    }

	    .slick-prev {
	    	left: 0;
	    }

	    .slick-next {
	    	right: 0; 
	    }

	    .slick-prev:before, .slick-next:before {
	    	color: $verde-claro;
	    	font-size: 30px;
	    }
	}



	.comunas {
		@include outer-container;

		margin-bottom: 50px;

		img {
		    width: 396px;
		    height: 453px;
		    padding: 15px 35px 10px;
		}

		.slick-prev {
	    	left: 0;
	    }

	    .slick-next {
	    	right: 0; 
	    }

	    .slick-prev:before, .slick-next:before {
	    	color: $verde-claro;
	    	font-size: 30px;
	    }
	}

}