.contact-page {
	@include outer-container;
	padding-bottom: 80px;

	h1 {
		// text-align: center;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	div.form-panel {
		@include span-columns(7);

		border-right: 2px solid $verde-claro;
	}

	div.contact-info {
		@include span-columns(5);
		@include omega();

		height: 440px;
		padding: 7%;

		img {
			margin-bottom: 33px;
		}

		p {
			margin-bottom: 0;
		}
	}
}

