.admin-sign-in {
	h2 {
		text-align: center;
		margin-top: 80px;
	}

	.form-panel {
		margin: 60px 30% 110px 30%;

		form {
			margin-bottom: 15px;

			input#admin_email {
				margin: 40px 0;
			}

			input#admin_password {
				margin-bottom: 15px;
			}

			input#admin_remember_me {
				margin: 0;
			}

			input[type="submit"] {
				margin: 0;
			}
		}

		a {
			margin: 0 15%;
		}
	}
}