.admin-panel {
	@include outer-container;

	h2 {
		text-align: center;
	}

	div.list-container {

		border-bottom: 3px solid $verde-claro;
		padding-bottom: 35px;
		padding-top: 35px;
	}

	div.list-container:last-child {
		border-bottom: none;
	}
}