// Place all the styles related to the properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/****************** 

1.0 PROPERTIES INDEX 

********************/

.properties-index {
	@include outer-container;

	h1 {
		text-align: center;
		margin-bottom: 20px;
		margin-top: 40px;
	}

	div.list-container {
		@include outer-container;

		border-bottom: 3px solid $verde-claro;
		padding-bottom: 35px;
		padding-top: 35px;

		img {
			@include span-columns(3);

			border: 3px solid $verde-claro;
		}

		div.properties-info {
			@include span-columns(9);
			@include omega();

			.properties-title {
				@include span-columns(12);

				h2 {
					margin: 0;
				}

				h3 {
					margin-top: 0;
				}
			}

			.properties-specs {
				@include span-columns(6);

				p:nth-child(1) {
					margin-bottom: 0; 
				}

				p {
					margin: 0;
				}
			}

			a {
				text-decoration: none;
				color: white;
			}

			div.crud-buttons {
				@include span-columns(6);
				@include outer-container;

				button {
					@include span-columns(12);

					width: 61%;
					margin-left: 75px;
	    			margin-top: 20px;
	    			margin-bottom: 15px;
	    			height: 42px;
	    			background-color: $verde-claro;
	    			border: 1px solid rgba(5, 93, 5, 1);
				}

				a.edit-button {
					@include span-columns(3);
					@include shift(3);

					background-color: blue;
					text-align: center;
					border-radius: 5px;
					margin-left: 23.5%;

				}

				a.delete-button {
					@include span-columns(3);
					@include omega();

					background-color: red;
					text-align: center;
					border-radius: 5px;
				}
			}
		}
	}

	div.list-container:last-child {
		border-bottom: none;
	}
}


/****************** 

1.0 PROPERTIES SHOW

********************/

.property-show {
	@include outer-container;
	
	div.property-header {
		@include outer-container;

		h2 {
			@include span-columns(12);

			margin-bottom: 0;
		}

		h3 {
			@include span-columns(9);

			margin-bottom: 0;
			padding-top: 5px;
		}

		h4 {
			@include span-columns(3);
			@include omega();

			margin-bottom: 0;
			text-align: right;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-right: 20px;
			background-color: $verde-claro;
		}
	}

	.property-container {
		@include outer-container;

		border: 2px solid $verde-claro;


		.property-specs {
			@include span-columns(4);

			.details {
				div {
					@include outer-container(100%);

					border-bottom: 1px solid $verde-claro;
					margin-left: 10px;
					margin-right: 0px;

					h5 {
						@include span-columns(6);

						margin-bottom: 0;
						padding-top: 21px;
					}

					p {
						@include span-columns(6);
						@include omega();

						text-align: right;
						margin-bottom: 0;
						padding-top: 16px;
					}
				}
			}

			.price {
				@include outer-container(100%);

				padding-top: 52px;

				div:first-child {
					@include outer-container;

					border-bottom: 1px solid $verde-claro;
					margin-left: 10px;

					h2 {
						@include span-columns(6);

						padding-top: 5px;
					}

					p {
						@include span-columns(6);
						@include omega();

			   			margin-bottom: 4px;
    					padding-top: 4px;
					}
				}

				div:last-child {
					p {
						padding-top: 5px;
					}
				}
			}
		}

		.property-image {
			@include span-columns(8);
			@include omega();

			.property-images-slider {
				width: 100%;

				.slick-dots li button:before {
				    font-size: 16px;
				}

				.slick-dots li.slick-active button:before {
				    opacity: .75;
				    color: $verde-claro;
				}

				.slick-dots li button:before {
				    color: white;
				}
			}
		}

		.property-footer {
			@include outer-container;
			@include span-columns(12);

			margin-top: 30px;
			margin-bottom: 20px;

			.description {
				@include span-columns(8);

				padding-left: 10px; 

				h3 {
					@include span-columns(12);
				}

				p {
					@include span-columns(12);

					text-align: left;
					padding-top: 30px;
				}
			}

			.contact-buttons {
				@include span-columns(4);
				@include omega();

				button {
					@include span-columns(12);
					@include omega();

					width: 94%;
					margin: 10px;
					background-color: $verde-claro;
				}
			}
		}
	}

	p, a {
		text-align: right;
		text-decoration: none;

		a:hover {
			color: $verde-claro;
		}
	}
}




/****************** 

1.0 PROPERTIES NEW

********************/

.new-property-form {
	@include outer-container;

	h1 {
		margin-top: 26px;
	}

	.form-panel {

		h2, label {
			text-align: center;
		}

		input[type="checkbox"] {
			margin-left: 47%;
		}

		.property-type {
			@include outer-container;

			margin: 35px 0;
			border: 1px solid $verde-claro;
			padding: 26px 10px;
			
			div.field {
				@include span-columns(4);

				label {
					margin-bottom: -0.625em;
				}
			}
		}

		.property-state {
			@include outer-container;

			margin: 35px 0;
			border: 1px solid $verde-claro;
			padding: 26px 10px;

			div.field {
				@include span-columns(6);

				label {
					margin-bottom: -0.625em;
				}
			}
		}

		.property-details {
			.field {
				margin: 20px 0;
			}
		}

		.property-extras {
			@include outer-container;

			border: 1px solid $verde-claro;
			padding: 26px 10px;

			div.field {
				@include span-columns(4);

				label {
					margin-bottom: -0.625em;
				}
			}
		}

		.property-highlight {
			border: 1px solid $verde-claro;
			padding: 26px 10px;
			margin-top: 33px;

			div.field {

				label {
					margin-bottom: -0.625em;
				}

				input[type="checkbox"] {
					margin-left: 49.5%;
				}
			}
		}

		.property-image {

			margin: 40px 0;

			.field {
				margin: 20px 0 20px 30%;

				input {
					width: 55%;
				}
			}
		}

		div.actions {
			margin-left: 40%;
		}

		form {
			input#property_image {
			}
		}
	}
}














































