<footer>
	<div class="a">
		<h1>ECOPROP</h1>
		<h4>PROPIEDADES</h4>
	</div>

	<div class="b">
		<h4>ECOPROP</h4>
		<ul>
			<li>Inicio</li>
			<li>Quienes Somos</li>
			<li>Equipo</li>
		</ul>
	</div>

	<div class="c">
		<h4>ATENCION AL CLIENTE</h4>
		<ul>
			<li>Contacto</li>
			<li>Confiar propiedad</li>
			<li>Trabaja con nosotros</li>
		</ul>
	</div>

	<div class="d">
		<address>
			Direccion: Dario Urzua 1650, of 303 <br>	
			Fono: +56 8 84459749 <br>
			Email: contacto@ecoprop.cl
		</address>
	</div>

	<div class="e">
		<h4>SIGUENOS</h4>
		<img src="/assets/facebook.png" alt="facebook-logo">
		<img src="/assets/email.png" alt="email-logo">
	</div>
</footer>