<div>
	<h1>ECOPROP</h1>
	<h4>PROPIEDADES</h4>
</div>

<div>
	<h4>ECOPROP</h4>
	<ul>
		<li>Inicio</li>
		<li>Quienes Somos</li>
		<li>Equipo</li>
	</ul>
</div>

<div>
	<h4>ATENCION AL CLIENTE</h4>
	<ul>
		<li>Contacto</li>
		<li>Confiar propiedad</li>
		<li>Trabaja con nosotros</li>
	</ul>
</div>

<div>
	<address>
		Direccion: Dario Urzua 1650, of 303 <br>	
		Fono: +56 8 84459749 <br>
		Email: contacto@ecoprop.cl
	</address>
</div>

<div>
	<h4>SIGUENOS</h4>
	<img src="" alt="facebook-logo">
	<img src="" alt="email-logo">
</div>